{% extends 'base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}
{% block content %}
<div class="container ">
  <div class="row justify-content-center align-items-center pt-5 mt-5">
    <div class="col-6 ">
      <div class="row second-row p-5 mt-5">
        <div class="col-8">
          <div class="d-flex justify-content-center align-items-center w-100 pb-3"><span class="login-span">Login</span>
          </div>
          <form action="" method="POST" >
            {% csrf_token %}
            {{form.non_field_errors}}
            {% for field in form %}
            <div class="form-group mt-3 mb-2">
              {{field}}
              {{field.errors}}
            </div>
            {% endfor %}
              <a href="{% url 'register' %}" class="sign-up">Click here for sign up</a>
            <div class="form-group w-100 d-flex align-items-center justify-content-end">
              <input type="submit" value="Login" class="btn btn-primary mt-3">
            </div>
          </form>
        </div>
      </div>

    </div>
  </div>

</div>

{% endblock %}